.hover-underline {
    :hover {
        text-decoration: underline;
    }
}

.hover-bg-white {
    :hover {
        background-color: white;
    }
}

.transparent-bg {
    background-color: transparent;
}
